<a
  (click)="logout()"
  class="hidden sm:inline-flex ml-5 text-white bg-red-600 hover:bg-red-700 focus:ring-4 focus:ring-red-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center items-center mr-3 cursor-pointer"
>
  <svg
    class="w-4 h-4 mr-2 -ml-1"
    fill="currentColor"
    viewBox="0 0 20 20"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      d="M3 4a1 1 0 011-1h6a1 1 0 110 2H5v10h5a1 1 0 110 2H4a1 1 0 01-1-1V4zm12.293 5.293a1 1 0 010 1.414L13.414 13l-.707-.707L14.586 10H9a1 1 0 110-2h5.586l-1.879-1.879.707-.707 1.879 1.879z"
      clip-rule="evenodd"
    />
  </svg>
  Cerrar sesión
</a>
